<li class="nav-item dropdown">
    <a href="/messages" class="nav-link px-0">
        <h1 class="badge bg-red">{{messages.length}}</h1>
        Messages
    </a>
</li>
{{!-- <script src="/javascripts/main.js"></script> --}}
<script>

</script>