{{#if user}}
<nav class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./">
              <span class="nav-link-title">
                Home
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link addPostModal" href="javascript:void(0);">
              <span class="nav-link-title addPostModal">
                Add POST
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link arch" href="/report">
              Report
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);" class="nav-link px-0 messageBox">
              <h1 class="badge bg-red" id="message-count"></h1>
              Messages
            </a>
          </li>
      </div>
    </div>
</nav>
{{/if}}
{{> posts/add}}
<script>
  $(document).ready(function () {
    $(".messageBox").on('click', function () {
      $.ajax({
        type: 'get',
        url: '/messages',
        success: function (res) {
          if (res.type == 'error') {
            toastr.error("You Are Not Verified..");
          }
          else{
            window.location.href = '/messages'
          }
        }
      })
    })
  })
</script>