<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{> scripts}}

  {{!--
  <script src="/javascripts/user/edit.js"></script> --}}
  {{!--
  <script src="/javascripts/posts/add.js"></script> --}}
</head>

<body>
  {{> header}}
  {{> navbar}}
  {{{body}}}
  {{!--
  <script src="/javascripts/posts/archive.js"></script> --}}
  <script src="/javascripts/posts/edit.js"></script>
  {{!--
  <script src="/javascripts/posts/filter.js"></script> --}}
  {{!--
  <script src="/javascripts/posts/savedPost.js"></script> --}}
  <link href="/stylesheets/style_login.css" rel="stylesheet" />
  {{!--
  <script src="/javascripts/posts/archive.js"></script>
  <script src="/javascripts/posts/edit.js"></script> --}}
  <script>
    var socket = io({
      query: { "RoomID": "{{user._id}}" }
    });
    socket.on("liked", (data) => {
      toastr.success(data.userNAME + ' Liked Your Post');
    });
    socket.on("saved", (data) => {
      toastr.success(data.userNAME + ' saved Your Post');
    })
    $(document).ready(function () {
      $.ajax({
        type: "get",
        url: '/notification',
        success: function (res) {
          $('#notification').html(res);
        },
        error: function (err) {
          alert(res.message);
        }
      })
    })

  </script>
</body>

</html>