<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{> scripts}}
  {{> header}}
  {{> navbar}}
  {{!--
  <script src="/javascripts/user/edit.js"></script> --}}
  {{!--
  <script src="/javascripts/posts/add.js"></script> --}}
</head>

<body>
  {{{body}}}
  {{!--
  <script src="/javascripts/posts/archive.js"></script> --}}
  {{!--
  <script src="/javascripts/posts/edit.js"></script> --}}
  {{!--
  <script src="/javascripts/posts/filter.js"></script> --}}
  {{!--
  <script src="/javascripts/posts/savedPost.js"></script> --}}
  <link href="/stylesheets/style_login.css" rel="stylesheet" />
  {{!--
  <script src="/javascripts/posts/archive.js"></script>
  <script src="/javascripts/posts/edit.js"></script> --}}

  {{#if user}}
  <script>
    var socket = io({
      query: { "RoomID": "{{user._id}}" }
    });
    socket.on("userName", (data) => {
      toastr.success(data.userNAME + ' Liked Your Post');
    })

    $(document).ready(function () {
      $.ajax({
        type: "get",
        url: '/notification',
        success: function (res) {
          var count = res.data.length
          $('.notify').append(`<span class="badge bg-red">${count}</span>`);
          for (let value in res.data) {
            $('.notification').append(`<div class="col p-2"><a id=${res.data[value]._id} href="javascript:void(0);"
                        class="text-body d-block likeNotification"><b>${res.data[value].description}</b></a></div>`);
          }
        },
        error: function (err) {
          alert(res.message);
        }
      });
      $(document).on('click', '.likeNotification', function () {
        $.ajax({
          type: "delete",
          url: '/notification',
          data: {
            "_id": $(this).attr('id')
          },
          success: function (res) {
            if (res.type == 'success') {
              var count = res.data
              $('.notify').append(`<span class="badge bg-red">${count}</span>`);
              $(`#${res.delete}`).parentsUntil('.notification').remove();
              console.log("notification removed");
            }
          },
          error: function (err) {
            alert(res.message);
          }
        })
        //
      })
    })
  </script>
  {{/if}}
</body>

</html>