<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Login to your account</h2>
                {{#if flash}}
                <div class="alert alert-danger ">{{flash.message}}</div>
                {{/if}}
                <form action="/login" id="LoginForm" method="post">
                    <div class="mb-3">
                        <label class="form-label">Email address<sup class="text-danger">*(required)</sup></label>
                        <input type="email" class="form-control" placeholder="abc@email.com" name="email">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">
                            Password<sup class="text-danger">*(required)</sup>
                        </label>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" placeholder="Your password" name="pswd">
                        </div>
                    </div>
                    <div class="form-footer">
                        <input type="submit" id="btn-login" class="btn btn-primary w-100">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center text-muted mt-3">
        Don't have account yet? <a href="/registration" tabindex="-1">Register</a>
    </div>
</div>
<script src="/javascripts/user/login.js"></script>