<div class="m-2">
  <div class="m-2">
    <li class="nav-item dropdown">
      <label for="Search">Search USER BY :</label>
      <div>
        <input type="text" name="search_user" id="search_user" class="search_user"
          placeholder="First Name,Last Name,Full Name or E-mail">
      </div>
    </li>
  </div>
  <div id="report">
    {{> report}}
  </div>
</div>