<div class="m-2">
  <div class="row d-flex justify-content-center">
    <li class="container card mb-3 nav-item dropdown col-md-3 justify-content-center">
      <label class="" for="Search">Search USER BY :</label>
      <input type="text" name="search-user" id="search-user" class="mb-2 mt-0 search-user"
        placeholder="First Name,Last Name,Full Name or E-mail">
    </li>
  </div>
  <div id="report">
    {{> report}}
  </div>
</div>