<div class="modal fade" id="addPost" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Post</h4>
            </div>
            <div class="modal-body">
                <form id="addPostForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Title</label><b>
                            <input type="text" class="form-control" placeholder="Title" name="title" id="title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea id="description" name="description" rows="6" cols="50"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label><b>
                            <input type="file" class="form-control" name="image" id="image">
                    </div>
                    <div class="form-footer">
                        <input type="submit" class="submit-btn" value="POST">
                        <button type="button" value="close" class="closeAddPost">CLOSE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/posts/add.js"></script>