<div class="modal fade" id="edit-post-modal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Post</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="edit-post-form" enctype="multipart/form-data">
                    {{!-- method="post" action="/users/" --}}
                    <div class="mb-3">
                        <label class="form-label">Title<sup class="text-danger">*(required)</sup></label><b>
                            <input type="text" class="form-control title-old" placeholder="Title" name="title"
                                id="title-old" value="" maxlength="30">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="description-old" id="description-old" name="description" rows="6" cols="50"
                            maxlength="300"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label><b>
                            <input type="file" class="form-control" name="image-new" id="image-new">
                            <label id="image-error"></label>

                    </div>
                    <div class="form-footer d-flex row">
                        <div class="col-3">
                            <input type="submit" class="btn btn-primary submit" value="Update">
                        </div>
                        <div class="col-6"></div>
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary close-edit-post-modal"
                                data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/posts/edit.js"></script>