<div class="modal fade" id="editPostModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Post</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editPostForm" enctype="multipart/form-data">
                    {{!-- method="post" action="/users/" --}}
                    <div class="mb-3">
                        <label class="form-label">Title<sup class="text-danger">*(required)</sup></label><b>
                            <input type="text" class="form-control title_old" placeholder="Title" name="title"
                                id="title_old" value="" maxlength="30">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="description_old" id="description_old" name="description" rows="6" cols="50"
                            maxlength="300"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label><b>
                            <input type="file" class="form-control" name="image_new" id="image_new">
                            <label id="imageError"></label>

                    </div>
                    <div class="form-footer d-flex row">
                        <div class="col-3">
                            <input type="submit" class="btn btn-primary submit" value="Update">
                        </div>
                        <div class="col-6"></div>
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary closeEditPostModal"
                                data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{!--
<script src="/javascripts/posts/edit.js"></script> --}}
<script src="/javascripts/posts/edit.js"></script>