{{!-- <nav aria-label="Page navigation example">
  <ul class="m-4 pagination justify-content-center">
    
    {{#each page}}
    <li class="page-item">
      <a class="page-link pagewise" href="javascript:void(0);" data-page={{this}}>{{this}}</a>
    </li>
    {{/each}}
    
  </ul>
</nav> 
<script src="/javascripts/posts/filter.js"></script> --}}