<nav aria-label="Page navigation example">
  <ul class="m-4 pagination justify-content-center">
    {{!-- <li class="page-item">
      <a href="javascript:void(0);" aria-label="Previous" class="pagewise page-link" data-page="prev">
        PREV
      </a>
    </li>  --}}
    {{#each page}}
    <li class="page-item">
      <a class="page-link pagewise" href="javascript:void(0);" data-page={{this}}>{{this}}</a>
    </li>
    {{/each}}
    {{!-- <li class="page-item">
      <a href="javascript:void(0);" aria-label="Next" class="pagewise page-link" data-page="next">
        NEXT
      </a>
    </li>  --}}
  </ul>
</nav> 
<script src="/javascripts/posts/filter.js"></script>