{{#if user}}
<div class="row mt-3">
  <div class="col-md-3 container card mb-3">
    <li class="nav-item dropdown card-body">
      <label for="filtering">Filter post BY:</label>
      <select class="filter">
        <option value="allPosts">All Posts</option>
        <option value="minePosts">Mine Posts</option>
        <option value="others">Others post</option>
        <option value="saved">Saved POST</option>
        <option value="arch">Archived Posts</option>
      </select>
    </li>
  </div>
  <div class="col-md-3">
    <div class="container card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md">
            <div>Created POST:- {{statistics.totalCreatedPost}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="container card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md">
            <div>Saved POST:- {{statistics.totalSavedPost}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="container card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md">
            <div>Total Saved POST :- {{statistics.savedPost}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
<div class="m-2 container-fluid">
  {{> posts/list}}
</div>

  {{!-- {{> posts/page}} --}}


{{!-- {{> posts/edit}}
{{> posts/archive}}
{{> posts/save}}
<script src="/javascripts/posts/filter.js"></script> --}}