<div class="modal fade" id="editModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update user Details</h4>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> --}}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="EditForm" enctype="multipart/form-data">
          <div class="mb-3">
            <label class="form-label">Profile Picture:-</label><b>
              <input type="file" class="form-control" name="files" id="file">
          </div>
          <div class="mb-3">
            <label class="form-label">First Name:-<sup class="text-danger">*(required)</sup></label><b>
              <input type="text" class="form-control" name="fname" id="fname">
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name:-<sup class="text-danger">*(required)</sup></label>
            <input type="text" class="form-control" name="lname" id="lname">
          </div>
          <div class="mb-3">
            <label class="form-label">Email address:-<sup class="text-danger">*(required)</sup></label>
            <input type="email" class="form-control" name="email" id="email" readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Gender:-<sup class="text-danger">*(required)</sup></label>
            <input type="radio" id="male" name="gender" class="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" class="gender" value="female">
            <label for="female">Female</label>
          </div>
          <div class="form-footer d-flex row">
            <div class="col-3">
              <input type="submit" class="btn btn-primary submit-btn" value="Edit">
            </div>
            <div class="col-6"></div>
            <div class="col-3">
              <button type="button" class="btn btn-secondary closeUserEdit" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/user/edit.js"></script>